<footer class="bg-dark text-light pt-4 pb-3 mt-auto">
  <div class="container text-center">
    <div class="row">
      
      <div class="col-md-4 mb-2">
        <h5>About</h5>
        <p>Gill's PC Parts Marketplace is your one-stop shop to buy and sell computer components.</p>
      </div>

      <div class="col-md-4 mb-2">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="text-light text-decoration-none">Home</a></li>
          <li><a routerLink="/sell" class="text-light text-decoration-none">Sell Product</a></li>
          <li><a routerLink="/cart" class="text-light text-decoration-none">Cart</a></li>
          <li><a routerLink="/login" class="text-light text-decoration-none">Login</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-2">
        <h5>Contact</h5>
        <p>Email: support&#64;gillspcmarketplace.com</p>
        <p>Phone: +1 905 123 4567</p>
      </div>

    </div>

    <hr class="bg-light">

    <p class="mb-0">&copy; 2025 Gill's PC Parts Marketplace. All rights reserved.</p>
  </div>
</footer>
