<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    
    <a class="navbar-brand" routerLink="/">
      Gill's PC Parts Marketplace
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Browse</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/sell">Sell</a>
        </li>
      </ul>

      <ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="/cart">Cart</a>
  </li>

  <li class="nav-item" *ngIf="!authService.isLoggedIn()">
    <a class="nav-link" routerLink="/login">Login</a>
  </li>

  <li class="nav-item" *ngIf="!authService.isLoggedIn()">
    <a class="nav-link" routerLink="/register">Register</a>
  </li>

  <li class="nav-item" *ngIf="authService.isLoggedIn()">
    <a class="nav-link" routerLink="/account/listings">Account</a>
  </li>

  <li class="nav-item" *ngIf="authService.isLoggedIn()">
    <a class="nav-link" (click)="logout()">Logout</a>
  </li>
</ul>

    </div>

  </div>
</nav>
