/* You can add global styles to this file, and also import other style files */

body{
    font-family: 'Radley', serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

router-outlet {
  flex: 1;
}